<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式              
            /n 
            时间           优先级   时间戳  /n 
               描述
            [02:57:17,391] DEBUG   80 
               btnOK_Click(参数名) 
        -->
        <conversionPattern value="%n[%date{HH:mm:ss fff}] %-5level [%logger]  :%timestamp %n   %message %n"/>
      </layout>
    </appender>
    <root>   
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender"/>
      <!--  OFF > 
            FATAL5 致命5 > ERROR4 一般4 > WARN3 错误 > 
            INFO2  信息2 > DEBUG1 调试1 > 
            ALL0   追踪0 
      -->
      <level value="ALL"/>
    </root>
  </log4net>
</configuration>